.App {
  text-align: center;
}

body {
  background-color: #000712;
  display: flex;
  min-height: 100vh;
  font-size: 25px;
  color: white;
  padding-left:10px;
}

.user-input-div {
  display: flex;
  align-items: center;
}

.user-input-div input {
  background: transparent;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 25px;
  color: #FBFAF5;

}
.user-input-div h4 {
  color: #723AE9;
}
.user-input-div p {
  display: block;
  line-height: 0;
}

.user-input-div pre {
  margin-left: 1.3%;
  color: #00E7B2;
  letter-spacing: 0px;
  line-height: 50%;
  font-size: 90%;
}

.open-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-screen-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.open-screen-div p{
  font-size: 20px;
  color: #FF2644;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #000712;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: #000712;
}

::-webkit-scrollbar-thumb {
  background-color: #FBFAF5;
}


