.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: right;
  justify-content: center;  */
  font-size: 25px;
  color: white;
  padding-left:10px;
}

.user-input-div {
  display: flex;
  align-items: center;
}

.user-input-div input {
  background: transparent;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
}

.user-input-div p {
  display: block;
}

